.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input {
    width: 20rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.button {
    width: 10rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(23, 23, 162);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.button:hover{
    background-color: cornflowerblue;
}