
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.header img {
    width: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input {
    width: 15rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

p {
    color: white;
    font-size: 1rem;  
    font-weight: 400;
}

/* ----Table Section---- */

.table_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

table {
    width: auto;
    border: 0.1rem solid #e0ad06;
}

tr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-evenly; 
    gap: 1.5rem;
    color: white;
}

th {
    font-size: 1rem;
    font-weight: 500;
}




.button {
    width: auto;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #92140C;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding:0 3rem;
    text-align: center;
    cursor: pointer;
}

.remove {
    width: auto;
    height: 2rem;
    margin: 0.5rem 0;
    padding: 0 2rem ;
    border-radius: 0.5rem;
    background-color: blue;
    color: white;
    cursor: pointer;
}


/* dark blue 041538 
    ABc yellow e0ad06
*/

.button:hover{
    background-color: #e0ad06;
    color: black;
}

.kills {
    
}


@media only screen and (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 4rem;
    }

    .header {
        gap: 1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .header img {
        width: 5rem;
    }
    .table_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    table {
        width: 50rem;
    }

    tr {
        display: flex;
        flex-direction: row;
        color: white;
    }

    th {
        font-size: 1rem;
    }

    td {
        font-size: 1.5rem;
        font-weight: 400;
        /* text-align: center;
        margin-left: auto; */
    }
}